.cv-page {
    width: 920px;
    padding: 80px 80px 60px;
    margin: 80px auto;
    background-color: #fff;
    box-shadow: 2px 2px 1px #606060;
  }
  
  body.cv {
    font-family: Roboto,Helvetica,sans-serif;
    color: #000;
    background-color: #c1c1c1;
    font-size: 14px;
    line-height: 1.5;
  }
  
  
  .cv-header-avatar {
    float: left;
  }
  
  .cv-header-text {
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0 15px;
  }
  
  .cv-header-name {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 5px;
    color: #BB1E1E;
  }
  
  .cv-header-subname {
    display: block;
    text-transform: none;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 5px;
    color: #777;
    margin-top: inherit;
  }
  
  
  .cv-header-meta {
    font-size: 14px;
    color: #777;
    white-space: nowrap;
  }
  
  .cv-section+.cv-section {
    margin-top: 1.5em;
  }
  
  .cv-page {
    width: 920px;
    padding: 80px 80px 60px;
    margin: 80px auto;
    background-color: #fff;
    box-shadow: 2px 2px 1px #606060;
  }
  
  .cv-section-title {
    color: #BB1E1E;
    font-size: 24px;
    font-weight: 300;
    padding-left: 21.5%;
    margin-bottom: 15px;
    page-break-after: avoid;
  }
  
  .cv-header-meta-right {
    float: right;
    border-left: 1px solid #e0e0e0;
    padding-left: 15px;
    text-align: left;
  }
  .cv-header-avatar img {
    border-radius: 2px;
    height: 193px;
  }
  
  .cv-section-content.cv-section-content--indented {
    padding-left: 21.5%;
  }
  
  
  .cv-timeline-side {
    width: 23%;
    text-align: right;
    padding-right: 15px;
    color: #777;
    font-size: 13px;
  }
  
  .cv-timeline-row {
    page-break-inside: avoid;
  }
  
  .cv-timeline-position {
    font-weight: 400;
    font-size: 18px;
    color: #333;
    line-height: 1.3;
  }
  
  .cv-header {
    display: -webkit-box;
    display: flex;
  }
  
  .cv-section+.cv-section {
    margin-top: 1.5em;
  }
  
  .cv-timeline-body {
    float: left;
    padding-left: 27%;
    margin-top:-57px;
  }
  
  .cv-header-meta, .cv-section, .cv-timeline-row, .home-section .home-buttons, .post .post-meta, .row, .tech-icons li, .tech-tags li, .timeline_element, .timeline_element-contents {
    overflow: hidden;
  }
  .red, a {
    color: #BB1E1E;
}
a {
    text-decoration: none;
}

@media screen and (max-width: 1000px){
.cv-page {
    width: auto;
    margin: 0 auto;
    padding: 20px;
}
}

@media screen and (max-width: 1000px){
.cv-header {
    display: block;
    text-align: center;
}
}
@media screen and (max-width: 1000px){
.cv-header-avatar {
    float: none;
    margin-bottom: 15px;
}
}

@media screen and (max-width: 1000px){
.cv-header-avatar img {
    border-radius: 6px;
}
}

@media screen and (max-width: 1000px){
.cv-header-text {
    padding: 0;
}
}
@media screen and (max-width: 1000px){
.cv-header-meta-right {
    float: none;
    padding: 0;
    text-align: center;
    border-left: none;
}
}

@media screen and (max-width: 1000px){
.cv-header-meta-row {
    display: inline;
}
}

@media screen and (max-width: 767px){
.cv-section+.cv-section {
    margin-top: 15px;
}
}
@media screen and (max-width: 767px){
.cv-section-title {
    padding-left: 0;
}
}

@media screen and (max-width: 767px){
.cv-section-content.cv-section-content--indented {
    padding-left: 0;
}
}

.cv-section-content ol, .cv-section-content ul:not(.tech-tags) {
    padding-left: 20px;
}

@media screen and (max-width: 767px){
.cv-section-title {
    padding-left: 0;
}
}

@media screen and (max-width: 767px){
.cv-timeline-side {
    float: none;
    width: auto;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
}
}

@media screen and (max-width: 767px){
.cv-timeline-body {
    float: none;
    width: auto;
}
}

@media screen and (max-width: 767px){
.cv-section-content.cv-section-content--indented {
    padding-left: 0;
}
}

@media screen and (max-width: 767px){
.cv-timeline-company {
    float: left;
}
}

@media screen and (max-width: 767px){
.cv-timeline-date {
    float: right;
}
}
@media screen and (max-width: 767px){
.cv-timeline-website {
    display: none;
}
}

@media screen and (max-width: 767px){
.cv-timeline-body {
    float: none;
    width: auto;
}
}