html
{
    height: 100%;
background: #ffffff url(https://images.unsplash.com/photo-1449168013943-3a15804bb41c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1958d4bâ€¦);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
    text-align: center;
    padding: 0 0px;
    height: 100%;
}

    #cspio-page {
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
}

#cspio-page {
    display: flex;
    padding: 10px;
}

#cspio-content {
    margin: 0;
    width: 100%;
    padding: 30px;
}

#cspio-headline {
    font-family: 'Pacifico';
    font-style: italic;
    font-weight: bolder;
    font-size: 48px;
    color: #ffffff;
    line-height: 1.00em;
    margin-bottom: 30px;
    margin-top: 0;
}




#cspio-logo 
{
    margin-bottom: 30px;
    width:156px;
}



#cspio-description{
margin-bottom: 30px;
font-family: Helvetica, Arial, sans-serif;
font-weight: bolder;
font-size: 26px;
line-height: 1.50em;
color: #ffffff;
}

.glow {
    font-size: 80px;
    color: #fff;text-align: center;
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
from {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}

.btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
    height: 33px;
    width: 47px;
}
.btn-yt {
    color: #fff;
    background-color: #ed302f !important;
    height: 33px;
    width: 47px;
}
.btn-email {
    color: #fff;
    background-color: #4b515d !important;
    height: 33px;
    width: 47px;
}
a{
    text-decoration: none;
    color: red;
}

#btn_container
  {
      width:32px;
      float:left;
      position: relative;
  }

  .appilo-thm-btn{
    background: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
}
.appilo-thm-btn {
    display: inline-block;
    border: none;
    outline: none;
    background: #6541c1;
    background: -webkit-gradient(left top, right top, color-stop(0%, #6541c1), color-stop(98%, #d43396), color-stop(100%, #d43396));
    background: -webkit-gradient(linear, left top, right top, from(#6541c1), color-stop(98%, #d43396), to(#d43396));
    background: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6541c1', endColorstr='#d43396', GradientType=1);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 28px;
    padding: 15px 29px;
    position: relative;
}
.todaysdate {
    font-family: futura;
      font-weight: bolder;
      color:#313131;
      font-size:25px;
      -webkit-animation:colorchange 20s infinite alternate;
  }
  @-webkit-keyframes colorchange {
    0% {
      color: blue;
    }
    
    10% {
      color: #8e44ad;
    }
    
    20% {
      color: #1abc9c;
    }
    
    30% {
      color: #d35400;
    }
    
    40% {
      color: blue;
    }
    
    50% {
      color: #34495e;
    }
    
    60% {
      color: blue;
    }
    
    70% {
      color: #2980b9;
    }
    80% {
      color: #f1c40f;
    }
    
    90% {
      color: #2980b9;
    }
    
    100% {
      color: pink;
    }
  }

  #menu {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 82%;
    top: 40%;
    margin: -75px 0 0 -75px;
    list-style: none;
    font-size: 200%;
}

.menu-button {
    opacity: 0;
    z-index: -1;
}

.menu-button {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    background: #ea7676;;
    background-size: 100%;
    overflow: hidden;
    text-decoration: none;
    font-size: 26px;
    font-family: cursive;
    text-align: -webkit-center;
    color: bisque;
    line-height: 38px;
}

#menu:not(:target)>a:first-of-type,
#menu:target>a:last-of-type {
    opacity: 1;
    z-index: 1;
}

#menu:not(:target)>.icon-plus:before,
#menu:target>.icon-minus:before {
    opacity: 1;
}

.menu-item {
    width: 101px;
    height: 97px;
    position: absolute;
    left: 55%;
    line-height: 20px;
    top: 50%;
    margin: -71px 0 0 -64px;
    border-radius: 50%;
    background-color: #30562b;;
    transform: translate(0px, 0px);
    transition: transform 500ms;
    z-index: -2;
    transition: .5s;
    font-size: large;
    font-family: cursive;
    text-align: -webkit-center;
}

.menu-item:hover{
opacity: 0.5;
  box-shadow: 0 5px 10px black; 
}


.menu-item a {
    color: #fff;
    position: relative;
    top: 30%;
    left: 0;
    text-decoration: none;
}

#menu:target>.menu-item:nth-child(6) {
    transform: rotate(60deg) translateY(-150px) rotate(300deg);
    transition-delay: 0s;
}

#menu:target>.menu-item:nth-child(5) {
    transform: rotate(20deg) translateY(-155px) rotate(-20deg);
    transition-delay: 0.1s;
}

#menu:target>.menu-item:nth-child(3) {
    transform: rotate(-20deg) translateY(-155px) rotate(20deg);
    transition-delay: 0.2s;
}

#menu:target>.menu-item:nth-child(4) {
    transform: rotate(-60deg) translateY(-150px) rotate(60deg);
    transition-delay: 0.3s;
}

#menu:target>.menu-item:nth-child(7) {
    transform: rotate(-100deg) translateY(-150px) rotate(100deg);
    transition-delay: 0.3s;
}

#menu:target>.menu-item:nth-child(8) {
    transform: rotate(100deg) translateY(-150px) rotate(260deg);
    transition-delay: 0.3s;
}
.content{
  position: absolute;
  text-align: center;
  margin: -10px 0 0 -30px;
  top: 70%;
  left: 50%;
  font-size: 20px;
}